<%= render 'page_title', title: 'GemKeK' %>
<div class="container space-nav">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <% @game_upcoming.each.with_index do |game, index| %>
      <div class="item <%= index == 0 ? 'active' : '' %>">
        <%= image_tag(game.photos.first.image_url, :alt => "First Slide") %>
        <div class="carousel-caption">
          <h2><%= game.name %></h2>
          <h1><%= game.relase_date.to_date %></h1>
        </div>
      </div>
      <% end %>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-9 fix-pading-content">
        <div class="col-md-12 fix-pading-content">
          <div class="col-md-12">
            <h2>New Games Release</h2>
          </div>
          <div class="col-md-12">

            <div class="owl-carousel new-game">
              <% @game_news.each do |game| %>
              <div class="container-top-game">
                <%= image_tag(game.photos.last.image_url, :class => "img-responsive image") %>
                <div class="overlay">
                <%=link_to game_detail_path(id: game.id) do %>
                  <div class="text"><%= game.name %>
                    <br><strong><%= game.relase_date.strftime("%F") %></strong>
                  </div>
                <%end%>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-12 fix-pading-content">
          <div class="col-md-12 ">
            <h2>Top Games</h2>
          </div>
          <% @game_top.each do |game| %>
          <div class="col-md-12 fix-pading-content">
            <div class="col-xs-12 col-md-4">
              <%=link_to game_detail_path(id: game.id) do %> <%= image_tag(game.photos.first.image_url, :class => "img-responsive fix-box-img-top-game") %><%end%>
            </div>
            <div class="col-xs-12 col-md-8 content-game-home-page">
              <div class="about-text col-md-12">
                <%=link_to game_detail_path(id: game.id),{:class=>"name_game"} do %> <%= game.name %><%end%>
              </div>
              <div class="col-xs-12 col-md-6">
                <b>Release date: <%= game.relase_date.to_date %> </b>
              </div>
              <div class="col-xs-12 col-md-6 fix-padding">
                <div class="star_home_page stars-outer">
                  <div class="stars-inner" style="width: <%= game.reviews.average(:rating).round(1)*20 %>%"></div>
                </div>
              </div>
              <div class="about-text col-md-12">
                <b>Platform: </b>
                <% game.platform_of_game.each_with_index do |platform, index| %>
                  <%= index == 0 ? "" : "," %>
                  <%= link_to platform.name, game_game_list_of_platform_path(:platform => platform.name) %>
                <% end %>
              </div>
              <div class="about-text col-md-12">
                <b>Genre: </b>
                <% game.genres_of_game.each_with_index do |genre, index| %>
                  <%= index == 0 ? "" : "," %>
                  <%= link_to genre.name, game_game_list_of_genre_path(:genre => genre.name)%>
                <% end %>
              </div>
              <div class="col-md-12">
                <% if game.summary.length > 100 %>
                  <p><%= truncate(game.summary, length: 100) %> <%=link_to "more", game_detail_path(id: game.id) %></p>
                <% else %>
                  <p><%= game.summary %></p>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <!-- Search & Upcoming games list -->
      <div class="col-md-3">
        <%= render 'search/advance_search_box' %>
        <%= render 'game_up_comming' %>
      </div>
    </div>
  </div>
</div>

