<%= render 'page_title', title: 'GemKeK' %>
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-9 fix-pading-content box-content">
        <h2>Search Result for <b><%= params[:search] %></b></h2>
        <div class="col-md-12 fix-padding-content">
          <%= form_tag url_for(:controller => 'search', :action => 'advance_search'), :method => 'get' do %>
            <div class="col-xs-12 col-md-3">
              Genre:
              <%= select_tag "genre", options_from_collection_for_select(Genre.all, :id, :name, :selected => params[:genre]), {:class => 'form-control', :prompt => ""} %>
            </div>

            <div class="col-xs-12 col-md-3">
              Platform:
              <%= select_tag "platform", options_from_collection_for_select(Platform.all, :id, :name, :selected => params[:platform]), {:class => 'form-control', :prompt => ""} %>
            </div>

            <!--            <div class="col-xs-12 col-md-2">-->
            <!--              Min Score:-->
            <%#= select_tag "min_score", options_for_select(["1", "2", "3", "4", "5"], :selected => params[:min_score]), {:class => 'form-control', :prompt => ""} %>
            <!--            </div>-->

            <!--            <div class="col-xs-12 col-md-2">-->
            <!--              Max Score:-->
            <%#= select_tag "max_score", options_for_select(["1", "2", "3", "4", "5"], :selected => params[:max_score]), {:class => 'form-control', :prompt => ""} %>
            <!--            </div>-->

            <% @search_results.each do |game| %>
              <%= hidden_field_tag "game_ids[]", game.id.to_i %>
            <% end %>
            <%= hidden_field_tag "search", params[:search] %>
            <div class="col-xs-12 col-md-2">
              <br>
              <%= submit_tag "Filter", class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
        <br><br><br><br>
        <div class="col-md-12 fix-pading-content">
          <% if @search_results.size == 0 %>
            No matching result found!
          <% else %>
            <% @search_results.each do |game| %>
              <div class="col-md-12 fix-pading-content">
                <div class="col-xs-12 col-md-4">
                  <%= link_to game_detail_path(id: game.id) do %>
                    <%= image_tag(game.photos.first.image.url, :class => "img-responsive fix-box-img-top-game") if game.photos.first.present? %>
                  <% end %>
                </div>
                <div class="col-xs-12 col-md-8 content-game-home-page background-item">
                  <div class="col-md-12">
                    <%= link_to game_detail_path(id: game.id), {:class => "name_game"} do %> <%= game.name %>
                    <% end %>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <b>Release date: <%= game.relase_date.to_date %> </b>
                  </div>
                  <div class="col-xs-12 col-md-6 fix-padding">
                    <div class="star_home_page stars-outer">
                      <% if game.reviews.average(:rating) != nil %>
                        <div class="stars-inner" style="width: <%= game.reviews.average(:rating).round(1)*20 %>%"></div>
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <b>Platform: </b>
                    <% game.platform_of_game.each_with_index do |platform, index| %>
                      <%= index == 0 ? "" : "," %>
                      <%= link_to platform.name, game_game_list_of_platform_path(:platform => platform.name) %>
                    <% end %>
                  </div>
                  <div class="col-md-12">
                    <b>Genre: </b>
                    <% game.genres_of_game.each_with_index do |genre, index| %>
                      <%= index == 0 ? "" : "," %>
                      <%= link_to genre.name, game_game_list_of_genre_path(:genre => genre.name) %>
                    <% end %>
                  </div>
                  <div class="col-md-12">
                    <% if game.summary.length > 100 %>
                      <p><%= truncate(game.summary, length: 100) %> <%= link_to "more", game_detail_path(id: game.id) %></p>
                    <% else %>
                      <p><%= game.summary %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            <p><%= will_paginate @search_results %></p>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 search-advance">
        <%= render 'search/advance_search_box' %>
        <%= render 'game/game_up_comming' %>
      </div>
    </div>
  </div>
</div>
