<%= render 'page_title', title: 'GemKeK' %>
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-11 fix-pading-content">
        <h2>Search Result for <b><%= params[:search] %></b></h2>
        <div class="col-md-12 fix-padding-content">
          <%= form_tag url_for(:controller => 'search', :action => 'advance_search'), :method => 'get' do %>
            <div class="col-xs-12 col-md-3">
              Genre:
              <%= select_tag "genre", options_from_collection_for_select(Genre.all, :id, :name, :selected => params[:genre]), {:class => 'form-control', :prompt => ""} %>
            </div>

            <div class="col-xs-12 col-md-3">
              Platform:
              <%= select_tag "platform", options_from_collection_for_select(Platform.all, :id, :name, :selected => params[:platform]), {:class => 'form-control', :prompt => ""} %>
            </div>

            <div class="col-xs-12 col-md-2">
              Min Score:
              <%= select_tag "min_score", options_for_select(["1", "2", "3", "4", "5"], :selected => params[:min_score]), {:class => 'form-control', :prompt => ""} %>
            </div>

            <div class="col-xs-12 col-md-2">
              Max Score:
              <%= select_tag "max_score", options_for_select(["1", "2", "3", "4", "5"], :selected => params[:max_score]), {:class => 'form-control', :prompt => ""} %>
            </div>

            <% @search_results.each do |id| %>
              <%= hidden_field_tag "game_ids[]", id.to_i %>
            <% end %>
            <%= hidden_field_tag "search", params[:search] %>
            <div class="col-xs-12 col-md-2">
              <br>
              <%= submit_tag "Filter", class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
        <br><br><br><br>
        <div class="col-md-12 fix-pading-content">
          <% if @search_results.size == 0 %>
            No matching result found!
          <% else %>
            <% @search_results.each do |id| %>
              <% game = Game.find(id) %>
              <div class="col-md-12 fix-pading-content">
                <div class="col-xs-12 col-md-4">
                  <%= image_tag(game.photos.first.image, :class => "img-responsive") %>
                </div>
                <div class="col-xs-12 col-md-8">
                  <div class="about-text">
                    <h4><%= link_to game_detail_path(id: game.id) do %> <%= game.name %>
                      <% end %> </h4>
                  </div>
                  <div class="col-xs-12 col-md-5">
                    <b>Release date: <%= game.relase_date.to_date %> </b>
                  </div>
                  <div class="col-xs-12 col-md-3 fix-padding">
                    <% if game.reviews.average(:rating) != nil %>
                      <b>User score:
                        <%= game.reviews.average(:rating) %></b>
                    <% else %>
                      <b>User score: No rating %> </b>
                    <% end %>
                  </div>
                  <div class="col-xs-7 col-md-4">
                    <b>Platform: </b>
                    <% game.platform_of_game.each do |platform| %>
                      <b> <%= platform.name %> </b>
                    <% end %>
                  </div>
                  <div class="col-md-12">
                    <p><%= game.summary %> <a href="#">more...</a></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- More games section -->
<div id="testimonials">
  <div class="container">
    <div class="section-title">
      <h2>More Game</h2>
    </div>
    <div class="row">
      <div class="col-md-4 more-game">
        <a href="#">
          <img src="/assets/game/game1.jpg" alt="">
        </a>
        <div class="game-info-name col-md-6 text-center">
          <a href="#">Name Game</a>
        </div>
        <div class="col-md-6 game-info-star">
          <i class="fa fa-star fa-lg" aria-hidden="true"></i>
          <i class="fa fa-star fa-lg" aria-hidden="true"></i>
          <i class="fa fa-star fa-lg" aria-hidden="true"></i>
          <i class="fa fa-star fa-lg" aria-hidden="true"></i>
          <i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>