<%= render 'page_title', title: 'GemKeK' %>
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-9 fix-pading-content">
        <h2>Search Result</h2>
        <div class="col-md-12 fix-padding-content">
          <%= form_tag url_for(:controller => 'search', :action => 'advance_search'), :method => 'get' do %>
            <div class="col-xs-12 col-md-3">
              Genre:
              <%= select_tag "genre", options_from_collection_for_select(Genre.all, :id, :name), {:class => 'form-control', :prompt => @params_genre} %>
            </div>

            <div class="col-xs-12 col-md-3">
              Platform:
              <%= select_tag "platform", options_from_collection_for_select(Platform.all, :id, :name), {:class => 'form-control', :prompt => @params_platform} %>
            </div>

            <div class="col-xs-12 col-md-2">
              Min Score:
              <%= select_tag "min_score", options_for_select(["1", "2", "3", "4", "5"]), {:class => 'form-control', :prompt => ""} %>
            </div>

            <div class="col-xs-12 col-md-2">
              Max Score:
              <%= select_tag "max_score", options_for_select(["1", "2", "3", "4", "5"]), {:class => 'form-control', :prompt => ""} %>
            </div>

            <% @search_results.each do |id| %>
              <%= hidden_field_tag "game_ids[]", id.to_i %>
            <% end %>
            <div class="col-xs-12 col-md-2">
              <br>
              <%= submit_tag "Filter", class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
        <br><br><br><br>
        <div class="col-md-12 fix-pading-content">
          <% if @search_results.size == 0 %>
            No matching result found!
          <% else %>
            <% @search_results.each do |id| %>
              <% game = Game.find(id) %>
              <div class="col-md-12 fix-pading-content">
                <div class="col-xs-12 col-md-4">
                  <%= image_tag(game.photos.first.image, :class => "img-responsive") %>
                </div>
                <div class="col-xs-12 col-md-8">
                  <div class="about-text">
                    <h4><%= link_to game_detail_path(id: game.id) do %> <%= game.name %>
                      <% end %> </h4>
                  </div>
                  <div class="col-xs-12 col-md-5">
                    <b>Release date: <%= game.relase_date.to_date %> </b>
                  </div>
                  <div class="col-xs-12 col-md-3 fix-padding">
                    <b>User score: <%= game.reviews.average(:rating) %> </b>
                  </div>
                  <div class="col-xs-7 col-md-4">
                    <b>Platform: </b>
                    <% game.platform_of_game.each do |platform| %>
                      <b> <%= platform.name %> </b>
                    <% end %>
                  </div>
                  <div class="col-md-12">
                    <p><%= game.summary %> <a href="#">more...</a></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- Search & Upcoming games list -->
      <div class="col-md-3">
        <div class="about-text">
          <h2>Advance Search..</h2>
          <form action="" method="POST" role="form">
            <div class="form-group">
              <label for="">Game Title</label>
              <input type="text" class="form-control" id="" placeholder="Input game title">
            </div>
            <div class="form-group">
              <label for="sel1">Genre</label>
              <select class="form-control" id="sel1">
                <option>Genre_1</option>
                <option>Genre_2</option>
                <option>Genre_3</option>
                <option>Genre_4</option>
              </select>
            </div>
            <div class="form-group">
              <label for="sel1">Platform</label>
              <select class="form-control" id="sel1">
                <option>Android</option>
                <option>Ios</option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Score</label>
              <input type="text" class="form-control" id="" placeholder="Input Score">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
        <!--        <div class="col-md-12 text-center related-game ">Upcoming Games</div>-->
        <%# @game_upcoming.each do |game| %>
        <!--          <div class="col-md-12 text-center list-related-game">-->
        <!--            <a href="#"><strong><%#= game.name %></strong>-->
        <!--              <hr>-->
        <!--              <strong><%#= game.relase_date.strftime("%F") %></strong>-->
        <!--            </a>-->
        <!--          </div>-->
        <%# end %>
      </div>
    </div>
  </div>
</div>

<!-- More games section -->
<div id="testimonials">
  <div class="container">
    <div class="section-title">
      <h2>More Game</h2>
    </div>
    <div class="row">
      <div class="col-md-4 more-game">
        <a href="#">
          <img src="/assets/game/game1.jpg" alt="">
        </a>
        <div class="game-info-name col-md-6 text-center">
          <a href="#">Name Game</a>
        </div>
        <div class="col-md-6 game-info-star">
          <i class="fa fa-star fa-lg" aria-hidden="true"></i>
          <i class="fa fa-star fa-lg" aria-hidden="true"></i>
          <i class="fa fa-star fa-lg" aria-hidden="true"></i>
          <i class="fa fa-star fa-lg" aria-hidden="true"></i>
          <i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>