<!DOCTYPE html>
<html>
<head>
  <!-- <title>Website</title> -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'manage/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <%= link_to root_path, class: "logo" do %>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>G</b>K</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>GemKeK</b></span>
    <% end %>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img  class="user-image" alt="User Image"<%= image_tag @current_user.avatar.url %>
              <span class="hidden-xs"><%= @current_user.full_name %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <%= image_tag @current_user.avatar.url, class: "img-circle", alt: "User Image"%>

                <p>
                  <%= @current_user.full_name %> - Web Developer
                  <small>Member since <%= @current_user.confirmed_at %></small>
                </p>
              </li>
              <!-- Menu Body -->
<!--              <li class="user-body">-->
<!--                <div class="row">-->
<!--                  <div class="col-xs-4 text-center">-->
<!--                    <a href="#">Followers</a>-->
<!--                  </div>-->
<!--                  <div class="col-xs-4 text-center">-->
<!--                    <a href="#">Sales</a>-->
<!--                  </div>-->
<!--                  <div class="col-xs-4 text-center">-->
<!--                    <a href="#">Friends</a>-->
<!--                  </div>-->
<!--                </div>-->
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to user_profile_home_path(id: current_user.id), class: "btn btn-default btn-flat" do %>
                    Profile
                  <% end %>
                </div>
                <div class="pull-right">
                  <%= link_to destroy_user_session_path, class: "btn btn-default btn-flat", method: :delete do %>
                    Sign Out
                  <% end %>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <!--<%= form_tag manage_search_game_path, :method => 'get', :class => "sidebar-form" do %>
        <div class="input-group">
          <span class="input-group-btn">
          <%= text_field_tag :search_game, params[:search_game], :value => "", :class => "form-control", placeholder: "Search..." %>
            <%= submit_tag id: "search-btn", class: 'btn btn-flat' %><i class="fa fa-search"></i>
        </span>
        </div>
      <% end %>-->
        <li>
          <%= link_to manage_path do %>
          <li class="active">
            <i class="fa fa-th"></i>
            <span>Report</span>

          </li>
        <% end %>
        </li>
        <li class="treeview active menu-open">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Manage</span>
          </a>
          <ul class="treeview-menu">
            <li><%= link_to manage_data_path do %>
                <i class="fa fa-circle-o"></i> Manage User
              <% end %>
            </li>
            <li><%= link_to manage_reviews_path do %>
                <i class="fa fa-circle-o"></i> Manage Review
              <% end %>
            </li>
            <li><%= link_to manage_games_path do %>
                <i class="fa fa-circle-o"></i> Manage Game
              <% end %>
            </li>
            <li><%= link_to manage_genres_path do %>
                <i class="fa fa-circle-o"></i> Manage Genre
              <% end %>
            </li>
            <li><%= link_to manage_platforms_path do %>
                <i class="fa fa-circle-o"></i> Manage Platform
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <%= yield %>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.1.0
    </div>
    <strong>KYUU-RY TEAM</strong>
  </footer>
</div>

<%= javascript_include_tag 'manage/application', 'data-turbolinks-track': 'reload' %>
</body>
</html>