<div style="margin-top: 72px;"></div>
<div class="mainbody container-fluid">
    
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" <%=image_tag @user.avatar.url, height: 300, width: 300 %>
                        </div>
                        <div class="media-body">
                            <h3><strong>Full Name</strong></h3>
                            <p><%= @user.full_name %></p>
                            <hr>
                            <h3><strong>Registor day</strong></h3>
                            <p><%= @user.created_at.to_date %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Reviews">Reviews</a></li>
                <li><a data-toggle="tab" href="#Like">Like</a></li>
                <li><a data-toggle="tab" href="#Comment">Comment</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="Reviews">
                    <br><br>
                    
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span>
                                <h1 class="panel-title pull-left" style="font-size:30px;"><%=@user.full_name%> <small><%= @user.email%></small> <i class="fa fa-check text-success" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="John Doe is sharing with you"></i></h1>
                            </span>
                            
                                <% flash.each do |key, value| %>
                                <br><hr>
                                    <div class="flash notice">edit <%= key %>: <%= value %></div>
                                  <% end %>
                            <%if user_signed_in? and @current_user.id == @user.id %>
                            <br><hr>
                            <%= link_to "#",
                                data: {
                                toggle: "modal",
                                url: edit_user_registration_path(@user),
                                target: "#user-form-edit"} do %>
                                <i class="fa fa-pencil-square-o fa-lg"></i>
                                Edit
                                <% end %>
                                <% end %>
                        <br>
                        </div>
                    </div>
                    
                    <hr>
                    <!-- Sample post content with comments. -->
                    
                    <div id="abc_reviews">
                        <%= render @reviews%>
                    </div>
                  
                    <div id="infinite-scrolling">
                          <%= will_paginate @reviews%>
                    </div>
                   
                </div><!--/tab-pane-->
                <div class="tab-pane" id="Like">
                    <br><br>
                    <!-- Simple post content example. -->
                    <%@reviews_like.each do |like| %>
                    <% review = Review.where(id: like.likeable_id).first %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-left">
                                <a href="#">
                                    <img class="media-object img-circle" style="margin-right:8px; margin-top:-5px;" <%= image_tag review.user.avatar.url, height:50, width:50 %>
                            </div>
                            <h4><i style="text-decoration:none; color:grey;">Liked a <%= link_to user_profile_home_path(id: review.user.id) do %><%= review.user.full_name%><% end %>'s <%= link_to review_path(id: review.id) do %> review <%end%>  <%= time_ago_in_words(like.created_at) %> ago </i><small></small></h4>
                            <h4><a href="#" style="text-decoration:none;"><strong><%= review.user.full_name%></strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(review.created_at) %> ago</i></a></small></small></h4>
                            <hr>
                            <div class="post-content">
                                <h3><%=review.title%></h3>
                                <p><%=review.content%></p>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <div class="pull-left btn-group-xs">
                                    <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a> <%=review.likes.count%>
                                </div>
                                <br>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <%end%>
                    <div id="infinite-scrolling-like">
                          <%= will_paginate @reviews_like%>
                    </div>
                </div><!--/tab-pane-->
                <div class="tab-pane" id="Comment">
                    <br><br>
                    <%@reviews_comment.each do |comment| %>
                    <% review = comment.review %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-left">
                                <a href="#">
                                    <img class="media-object img-circle" style="margin-right:8px; margin-top:-5px;" <%= image_tag review.user.avatar.url, height:50, width:50 %>
                                </a>
                            </div>
                            <h4><i style="text-decoration:none; color:grey;">commented on a <%= link_to user_profile_home_path(id: review.user.id) do %><%= review.user.full_name%><% end %>'s <%= link_to review_path(id: review.id) do %> review <%end%>  <%= time_ago_in_words(comment.created_at) %> ago </i><small></small></h4>
                            <h4><a href="#" style="text-decoration:none;"><strong><%= review.user.full_name %></strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> <%= time_ago_in_words(review.created_at) %> ago</i></a></small></small></h4>
                            <hr>
                            <div class="post-content">
                                <h3><%=review.title%></h3>
                                <p><%=review.content%></p>
                            </div>
                            <hr>
                            <div class="col-md-12">
                                <div class="pull-left btn-group-xs">
                                    <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a> <%=review.likes.count%>
                                </div>
                                <br>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <%end%>
                    <div id="infinite-scrolling-review-comment">
                          <%= will_paginate @reviews_comment%>
                    </div>
                    <!-- Reshare Example -->
                    <hr>
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div>
    </div>
</div>

<div id="user-form-edit" class="modal fade">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Update user</h3>
    </div>
    <div class="modal-body"></div>
  </div>
</div>

<script type="text/javascript">
    $('#user-form-edit').on("show.bs.modal", function(e) {

       $(this).find('.modal-body').load(e.relatedTarget.dataset.url);
     });

</script>