<!DOCTYPE html>
<html>
<head>
  <!-- <title>Website</title> -->
  <title><%= yield :page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
<div class="container-fuild">
  <nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="col-md-2 logo">
        <%= link_to root_path, class: "navbar-brand logo-header" do %>
          <h1>Gem<span>KeK</span> </h1>
        <% end %>
      </div>
      <div class="col-md-10" id="bs-example-navbar-collapse-1 ">
        <ul class="nav navbar-nav navbar-left">
          <% if Platform.first.present? %>
          <li><%= link_to Platform.first.name, game_game_list_of_platform_path(:platform => Platform.first.name), class: "page-scroll", style: "font-size: 12px" %></li>
          <%end%>
          <% if Platform.second.present? %>
          <li><%= link_to Platform.second.name, game_game_list_of_platform_path(:platform => Platform.second.name), class: "page-scroll", style: "font-size: 12px" %></li>
          <%end%>
          <%# if Platform.third.present? %>
<!--          <li><%#= link_to Platform.third.name, game_game_list_of_platform_path(:platform => Platform.third.name), class: "page-scroll" %></li>-->
          <%#end%>
          
          <li class="dropdown">
            <a class="dropdown-toggle dropdown-background-color" style="font-size: 12px" data-toggle="dropdown" href="#">MORE
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="menu-item">
              <% platform_all = Platform.all %>
              <% platform_all.each do |platform| %>
                <% if platform.name != Platform.first.name && platform.name != Platform.second.name %>
                  <li><%= link_to platform.name, game_game_list_of_platform_path(:platform => platform.name) %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li>
            <%= form_tag search_index_path, :method => 'get', :class => "navbar-form navbar-left search-header", :rolze => "search" do %>
              <div class="form-group">
                <%= text_field_tag :search, params[:search], :value => "", :class => "form-control", placeholder: "Game, platform, genre..." %>
              </div>
              <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
            <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <a class="dropdown-toggle dropdown-background-color" style="font-size: 12px" data-toggle="dropdown" href="#"><b><%= current_user.full_name %></b>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" id="menu-item">
                <li><%= link_to "Profile", user_profile_home_path(id: current_user.id) %>
                  <% if current_user.is_admin %>
                  <li><%= link_to manage_path do %>Admin</a>
                    <% end %></li>
                <% end %>
                <li><a href="#"><%= link_to('Sign Out', destroy_user_session_path, method: :delete) %> </a></li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to('Sign In', new_user_session_path) %>
            </li>
            <li>
              <%= link_to('Sign Up', new_user_registration_path) %>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </nav>
</div>
<%= yield %>

<!-- Footer Section -->
<div id="footer">
  <div class="container text-center">
    <p>&copy; 2018 Design by <a href="http://www.templatewire.com" rel="nofollow"> KYUU-RY TEAM</a></p>
  </div>
</div>

</body>
</html>